body{
    font-family: Sans-serif;
}

#canvas{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid #eee;
}

#canvas:active,
#canvas:hover{
    cursor: default;
}

.container{
    width: 500px;
    height: 100%;
    position: relative;
}

.pointer-coords{
    display: block;
    position: absolute;
    right: 7px;
    top: 7px;
}